[submodule "firmware/manufacturing_test/third_party/STM32CubeF4"]
	path = firmware/manufacturing_test/third_party/STM32CubeF4
	url = https://github.com/STMicroelectronics/STM32CubeF4.git
[submodule "firmware/manufacturing_test/third_party/BMI270_SensorAPI"]
	path = firmware/manufacturing_test/third_party/BMI270_SensorAPI
	url = https://github.com/boschsensortec/BMI270_SensorAPI.git
[submodule "firmware/manufacturing_test/third_party/BMP3_SensorAPI"]
	path = firmware/manufacturing_test/third_party/BMP3_SensorAPI
	url = https://github.com/boschsensortec/BMP3_SensorAPI.git
